@model SliderPictureModel
@using Nop.Plugin.Widgets.Slider.Models;
@using Nop.Web.Framework;
@{
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    //page title
    ViewBag.Title = T("Plugins.Widgets.Slider.AddNewPicture").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "page-form" }))
{
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-catalog.png")" alt="" />
            @T("Plugins.Widgets.Slider.AddNewPicture") @Html.ActionLink("(" + T("Plugins.Widgets.Slider.BackToPicturesList") + ")", "Edit", new { id = Model.SliderId })
        </div>
        <div class="options">
            <input type="submit" name="save" class="k-button" value="@T("Admin.Common.Save")" />
            <input type="submit" name="save-continue" class="k-button" value="@T("Admin.Common.SaveContinue")" />
        </div>
    </div>
    @Html.Partial("~/Plugins/Widgets.Slider/Views/WidgetsSlider/_CreateOrUpdate.SliderPicture.cshtml", Model)
}
@Html.DeleteConfirmation("slider-picture-delete")